body{
    margin: 0;
}
.header{
    background-color: #0171f9;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 50px;
}
.logo{
    width: 100px;
}
.header-links a{
color: white;
padding: 5px 15px;
text-decoration: none;
border-radius: 15px;
}
.header-links a:hover{
    background-color: #2386fe;
}

.btn:hover {
    background-color:#f2858c ;
}
.landing-page{
    background-color: #0171f9;
    display: flex;
    justify-content: space-between;
    padding: 10px 50px;
    align-items: center;
    color :white;
    border-radius: 0 0 50px 50px;
}
.landing-page-search input{
    border-radius: 50px;
    border: none;
    outline: none;
    height: 30px;
    padding-left: 0 10px;
}
.landing-page-search button{
    position: absolute;
    left: 180px;
    height: 32px;
}
.btn{
    background-color: #EE6268;
    color :#ffffff;
    border: none;
    padding: 5px 15px;
    border-radius: 15px;
}
.landing-page-image-container img {
    border-radius: 20px;
}
.training-container{
    padding: 25px 50px;
  

}
.training-header{
    display: flex;
    justify-content: space-between;
    align-items: center;

}
.training-header h1 {
    margin-top: 0;
}
.training-container span{
    color:#EE6268;
    text-transform: uppercase;
    font-size: 14px;
}
.card-info{
    display: flex;
    justify-content: space-between;
    padding: 5px 10px;
    align-items: center;
}
.card-info img{
    width: 50px;
}
.card{
    width: 300px;
    border-radius: 20px;
    background-color: #EEEEEE;

}
.card .thumb{
    border-radius: 20px 20px 0 0;
}
.trending-cards{
    display: flex;
    gap:12px;
}